---
layout: post_index
title: "Lazercube| Blog"
heading: Blog
---

{% if site.categories.blog %}
    {% for current_post in site.categories.blog  %}
        {% assign loopindex = forloop.index | modulo: 2 %}

        {% if loopindex  == 1 or forloop.first %}
            <div class="row">   
        {% endif %}

        {% include post_preview.html post=current_post size='m' %}

        {% if loopindex != 1 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p class="center-text" style="margin: 4rem 0;"><b>Hmmm,</b> looks like theres nothing here at the moment.</p>
{% endif %}