<!--footer-->
<div class="footer">
  <div class="section-title">
    <span class="section-line"></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 footer-links">
          <!-- <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="https://github.com/lazercube/europa/">GitHub</a></li>
              <li><a href="../help/#api">API</a></li>
              <li><a href="../help/#support">Support</a></li>
          </ul> -->
        <p class="center-text"><span class="ored">DEVELOPMENT BUILD</span></p>
    </div>
  </div>
</div>
<!--endfooter-->
