.jumbotron{
    border-bottom: solid 5px $white-darker;
}

.intro{
    font-size:$page-intro-font-size;
    padding: $page-intro-padding;
}

#page {
  padding-top: $page-padding;
  padding-bottom: $page-padding;
  @include media-breakpoint-down(sm) {
    padding-top: ($page-padding / 2);
    padding-bottom: ($page-padding / 2);
  }
}