.thumb-image{
    position: relative;

    @include shadow();
   
    .thumb-overlay{
        width:100%;
        position:absolute;
        top:100%;
        z-index: 1;

        .thumb-container{
            text-align: $thumb-overlay-text-align;
            font-size: $thumb-overlay-font-size;
            color: $thumb-overlay-font-color;
            width: $thumb-container-width;
            padding: $thumb-container-padding;
            text-shadow: 0 1px 0 rgba(0,0,0,.15);
            position: absolute;
            bottom: 0;
            left: 0;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        p{
            display:none;
        }

        @include media-breakpoint-up(sm) {
            p{
                display:block;
                overflow: hidden;
            }
        }

        .thumb-container-full{
            margin-bottom: 5%;
            background-color: $brand-secondary;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            padding: 1rem 2rem;
        }

    }
}

.gallery-img {
    position: relative;
    margin: 1rem 0;
    @include shadow();
}