.section-title{
    letter-spacing: $page-title-letter-space;
    position: relative;
    overflow: hidden;
    padding: $section-title-padding;

    .section-title-left, .section-title-right{
        background-color: $body-bg;
        z-index: 2;
    }

    .section-title-right, .section-line{
           position: absolute;
    }

    .section-title-left{
        text-transform: uppercase;
        margin: 0px;
        padding-right: $page-title-text-padding;
        float:left;
        position: relative;
    }

    .section-title-right{
        right: 0;
        padding-left: $page-title-text-padding;
        display:block;
        clear:both;
    }

    .section-line{
        height: $page-title-line-height;
        margin-top: - $page-title-line-height;
        z-index: 0;
        top:50%;
        left: 0;
        right: 0;
        background: #e8e8e8;
    }
}

.post {
  padding-bottom: 2rem;

  .post-header {
    padding-bottom: 1em;
    .post-title {
      font-weight: 300;
      margin-top: 0px;
      margin-bottom: .5em;
      color: $gray-light;
    }

    .post-about {
      color: $brand-primary;
      font-weight: normal;
      font-size: 1.1rem;
      margin-top: 0px;
    }

    ul.post-links {
      background-color: #efefef;
      padding: .5rem 1rem;
      margin-top: 0;

      &, a {
        color: #a5a5a5;;
      }

      li {
        display: inline-block;
        margin-right: 1.5em;

        &:last-child {
          margin-right: 0em;
        }

        span.icon {
          margin-right: 0.25em;
        }
      }
    }

    // ul.post-links {
    //   list-style: none;
    //   display: block;
    //   padding: 0;

    //   &, a {
    //     color: $body-color;
    //   }

    //   li {
    //     display: inline-block;
    //     margin-left: 1em;

    //     &:first-child {
    //       margin-left: 0em;
    //     }

    //     span.icon {
    //       margin-right: 0.25em;
    //     }

    //   }
    // }
  }

  .image-container {
    margin: 2rem 2rem;

    img {
      margin: 3rem 0;

      &:first-child {
        margin: 0;
      }
    }
  }

  header {
    h1,h2,h3,h4,h5,h6 {
      margin: 0.40rem 0 0 0;
    }


    a{
      text-decoration: none;
      color: inherit;
      font-weight: bold;
    }

    a:hover{
      text-decoration: underline;
    }

    .article-meta {
      color: $gray-light;
      font-size: $article-meta-font-size;
      margin-top: 0;

      .meta-cards {
        padding: 0 10px 0 10px;
        border-right: 1px solid $white-darker;
      }

      .meta-author {
         padding-left: 0px;
      }

      .meta-category {
        text-transform: capitalize;
      }
    }
  }
}

.post-index {
  padding-top: 60px;

  .index-title {
    font-weight: 600;
  }
}
