---
layout: default
---

<div class="row">
  <div class="col-lg-10 col-xs-12">
    <div class="intro">
        {{ content }}
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
         <div class="socials">
            <ul>
                <li><a href="https://github.com/LazerCube" target="_blank"><span class="icon icon-github"></span>Github</a></li>
                <li><a href="https://www.linkedin.com/in/elliot-lunness-33b959192/" target="_blank"><span class="icon icon-linkedin"></span>LinkedIn</a></li>
                <li><a href=""><span class="icon icon-file-text"></span>Resume</a></li>
            </ul>
        </div>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="section-title">
                <h3 class="section-title-left">Recent Projects</h3>
                <span class="section-line"></span>
                <span class="section-title-right"><a href="/projects" class="btn" role="button">View More &gt;</a></span>
            </div>
        </div>
    </div>
    {% if site.categories.projects != nil %}
        {% for current_post in site.categories.projects limit:4 %}
            {% assign loopindex = forloop.index | modulo: 2 %}

            {% if loopindex  == 1 or forloop.first %}
                <div class="row">   
            {% endif %}

            {% include post_preview.html post=current_post size='m' %}

            {% if loopindex != 1 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Hmmm, looks like theres nothing here at the moment.</p>
    {% endif %}
</section>

<section>
    <div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="section-title">
        <h3 class="section-title-left">Newest Blog Posts</h3>
        <span class="section-line"></span>
        <span class="section-title-right"><a href="/dev" class="btn" role="button">Read More &gt;</a></span>
        </div>
    </div>
    </div>

    <div class="row">
    {% for post in site.categories.blog limit:3 %}
        {% include post_preview.html post=post size='xs' %}
    {% endfor %}
    </div>
</section>

<section>
    <div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="section-title">
        <h3 class="section-title-left">Artwork</h3>
        <span class="section-line"></span>
        <span class="section-title-right"><a href="/artwork" class="btn" role="button">See More&gt;</a></span>
        </div>
    </div>
    </div>

    <div class="row">
        <article class="col-lg-12 col-xs-12 overview">
            <div class="thumb-image">
                <a href="/artwork" 
                data-href="/assets/img/artwork/city_in_the_sky.jpg"
                data-srcset="/assets/img/artwork/city_in_the_sky.jpg"
                data-sizes="100vw"
                class="progressive replace">
                    <div class="thumb-overlay">
                        <div class="thumb-container thumb-container-full">
                            A collection of my various design and artwork pieces from over the years.
                        </div>
                    </div>
                    <img src="/assets/img/artwork/city_in_the_sky.jpg" class="preview" alt="image" />
                </a>
            </div>
        </article>
    </div>

</section>