---
layout: default
---

<div class="col-lg-10">
  <div class="row">
    <div class="intro">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="row">
    <div class="section-title">
        <h3 class="section-title-left">Recent Projects</h3>
        <span class="section-line"></span>
        <span class="section-title-right"><a href="/projects" class="btn" role="button">View More &gt;</a></span>
    </div>
  </div>
</div>

<div class="row">
  {% for post in site.categories.Projects limit:4 %}
      {% include post_preview.html %}
  {% endfor %}
</div>

<div class="col-lg-12">
  <div class="row">
    <div class="section-title">
      <h3 class="section-title-left">Newest Dev Posts</h3>
      <span class="section-line"></span>
      <span class="section-title-right"><a href="/dev" class="btn" role="button">Read More &gt;</a></span>
    </div>
  </div>
</div>

<div class="row">
  {% for post in site.categories.Dev limit:2 %}
      {% include post_preview.html %}
  {% endfor %}
</div>

<div class="col-lg-12">
  <div class="row">
    <div class="section-title">
      <h3 class="section-title-left">Work in Progress</h3>
      <span class="section-line"></span>
      <span class="section-title-right"><a href="#" class="btn" role="button">Work in Progress &gt;</a></span>
    </div>
  </div>
</div>

<article class="col-lg-6 overview">
  <div class="row">
    <div class="thumb-image">
        <a href="#">
            <div class="thumb-overlay">
                <div class="thumb-container thumb-container-full center-text">
                    <h1>Hello, World!</h1>
                <p>
                    Nam faucibus dignissim vestibulum tortor sapien habitasse parturient velit vel ad nam sed.
                </p>
                </div>
            </div>
            <img src="https://unsplash.it/730/500/?image=931" alt="PlaceHolder">
        </a>
    </div>
  </div>
</article>
