---
layout: default
---

<div class="post">
  <div class="post-header">
    <div class="row">
      <div class="col-lg-8 col-xs-12">
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      {% if page.about %}
      <div class="col-lg-8 col-xs-12">
          <p class="post-about">
            {{ page.about }}
          </p>
        {% if page.summary %}
          <p class="post-summary">
            <strong>Project Summary: </strong> {{ page.summary }}
          </p>
          {% if page.live_link %}
            <span><strong>See live: </strong><a href="{{ page.live_link }}" class="text-muted">{{ page.live_link }}</a></span>
          {% endif %}
          <p class="text-muted"><strong>Source: </strong>
          {% if page.source %}
            <a href="{{ page.source }}" >{{ page.source }} <span class="icon icon-folder-open"></span></a>
          {% else %}
            <span>Closed source <span class="icon icon-folder"></span></span>
          {% endif %}
          </p>
        {% endif %}
      </div>
      {% endif %}
      <div class="col-lg-3 offset-lg-1 col-xs-12 post-categories">
        <ul class="list-unstyled">
          {% for item in page.tags %}
            <li class="text-muted">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-title">
      <span class="section-line"></span>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        {{ content }}
        <p>
          <small class="text-muted">{{ page.author }} - {{ page.categories }} - {{ page.date | date: "%b %-d, %Y" }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
