---
layout: default
---

<div class="post">
  <div class="post-header">
    <div class="row">
      <div class="col-lg-8 col-xs-12">
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      {% if page.description %}
      <div class="col-lg-8 col-xs-12">
          {% if page.link or page.source %}
            <ul class="post-links">
              {% if page.link %}
              <li><span class="icon icon-eye"></span> <a href="http://www.{{ page.link }}" target="_blank">{{ page.link }}</a></li>  
              {% endif %}

              {% if page.source == "closed" %}
                <li><span class="icon icon-folder"></span> Closed Source</li>
              {% elsif page.source %}
                  <li><span class="icon icon-folder-open"></span> <a href="{{ page.source }}" target="_blank">Source Code</a></li>
              {% endif %}
            </ul>
          {% endif %}

          <p class="post-about">
            {{ page.description }}
          </p>

          {% if page.summary %}
            <p class="post-summary">
              <strong>Project Summary: </strong> {{ page.summary }}
            </p>
          {% endif %}

      </div>
      {% endif %}
      <div class="col-lg-3 offset-lg-1 col-xs-12 post-categories">
        <ul id="page-tags" class="list-unstyled">
          {% for item in page.tags %}
          <li>
            {% if page.taglink == nil or page.taglink %}
            <a href="/tags/{{ item }}" title="View posts tagged with &quot;{{ item }}&quot;" rel="canonical">
              {{ item }}
            </a>
            {% else %}
              <span class="text-muted">{{ item }}</span>
            {% endif%}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ content }}
    </div>

    {% if page.author or page.categories or page.date%}
    <div class="col-xs-12">
      <p>
        <small class="text-muted">{% if page.author %}{{ page.author }} - {% endif%}{% if page.categories %}{{ page.categories }}{% endif %}{% if page.date %} - {{ page.date | date: "%b %-d, %Y" }}{% endif %}</small>
      </p>
  </div>
  {% endif %}

</div>
