---
layout: default
---

<div class="post">
  <div class="post-header">
    <div class="row">
      <div class="col-lg-8 col-xs-12">
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      {% if page.about %}
      <div class="col-lg-8 col-xs-12">
          <p class="post-about">
            {{ page.about }}
          </p>
        {% if page.summary %}
          <p class="post-summary">
            <strong>Project Summary: </strong> {{ page.summary }}
          </p>
        {% endif %}
      </div>
      {% endif %}
      <div class="col-lg-3 offset-lg-1 col-xs-12 post-categories">
        <ul class="list-unstyled">
          {% for item in page.tags %}
            <li class="text-muted">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="section-title">
      <span class="section-line"></span>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        {{ content }}
        <p>
          <small class="text-muted">{{ page.author }} - {{ page.categories }} - {{ page.date | date: "%b %-d, %Y" }}</small>
        </p>
      </div>
      <!-- <div class="col-lg-3 offset-lg-1"></div>
        <ul>
          {% for post in site.posts limit:5 %}
              </li>{% include post_preview.html post=post %}<li>
          {% endfor %}
        </ul>
      </div> -->
    </div>
  </div>
</div>
